/* Style the dropdown button */
.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  font-size: 16px;
  margin-left: -20px;
  padding: 5px 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: black;
  z-index: 1000;
}

.dropdown-content div{
    color: white;
}
.dropdown-content div:hover{
    background: gray;
    color: black;
}
/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}
